# ========================
# Node / Angular
# ========================
node_modules/
dist/
.angular/
.angular/cache/

# ========================
# Backend (Spring Boot)
# ========================
target/
*.class

# ========================
# Logs
# ========================
*.log
npm-debug.log*
yarn-error.log*

# ========================
# Environment files
# ========================
.env

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Misc
# ========================
coverage/